In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [3]:
dataset = pd.read_csv("C:/Users/Akash Kumar/Downloads/car data.csv")

In [4]:
dataset.head(2)

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Selling_Price
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0,3.35
1,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0,4.75

In [5]:
sns.heatmap(data=dataset.corr(),annot=True)
plt.show()

ValueError: could not convert string to float: 'ritz'

In [6]:
dataset.isnull().sum()

Car_Name         0
Year             0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
Selling_Price    0
dtype: int64

In [7]:
Car_name_le=LabelEncoder()
dataset['Car_Name']=Car_name_le.fit_transform(dataset["Car_Name"])

In [8]:
dataset['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

#Seller_Type

In [10]:
Fuel_Type_le=LabelEncoder()
dataset['Fuel_Type']=Fuel_Type_le.fit_transform(dataset["Fuel_Type"])

In [11]:
Seller_Type_le=LabelEncoder()
dataset['Seller_Type']=Seller_Type_le.fit_transform(dataset["Seller_Type"])

#transmission

In [12]:
Transmission_le=LabelEncoder()
dataset['Transmission']=Transmission_le.fit_transform(dataset["Transmission"])

In [13]:
input_data=dataset.iloc[:,:-1]
output_data=dataset["Selling_Price"]

In [14]:
 from sklearn.preprocessing import StandardScaler

In [15]:
ss=StandardScaler()
input_data=pd.DataFrame(ss.fit_transform(input_data),columns=input_data.columns)

In [16]:
input_data

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,1.074323,0.128897,-0.236215,-0.256224,0.500183,-0.737285,0.39148,-0.174501
1,1.191828,-0.217514,0.221505,0.155911,-1.852241,-0.737285,0.39148,-0.174501
2,0.212627,1.168129,0.257427,-0.773969,0.500183,-0.737285,0.39148,-0.174501
3,1.309332,-0.910335,-0.403079,-0.817758,0.500183,-0.737285,0.39148,-0.174501
4,1.152659,0.128897,-0.087890,0.141743,-1.852241,-0.737285,0.39148,-0.174501
...,...,...,...,...,...,...,...,...
296,0.251795,0.821718,0.460214,-0.076225,-1.852241,-0.737285,0.39148,-0.174501
297,0.134290,0.475308,-0.200292,0.593804,0.500183,-0.737285,0.39148,-0.174501
298,0.251795,-1.603156,0.390687,1.313340,0.500183,-0.737285,0.39148,-0.174501
299,0.251795,1.168129,0.564504,-0.719876,-1.852241,-0.737285,0.39148,-0.174501
300,0.134290,0.821718,-0.200292,-0.810958,0.500183,-0.737285,0.39148,-0.174501

In [17]:
 from sklearn.model_selection import train_test_split

In [18]:
x_train ,x_test ,y_train,y_test=train_test_split(input_data,output_data,test_size=0.2,random_state=42)

In [19]:
from sklearn.linear_model import LinearRegression , Lasso,Ridge,ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor

In [20]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [21]:
lr=LinearRegression()
lr.fit(x_train, y_train)
lr.score(x_train,y_train)*100, lr.score(x_test,y_test)*100

(88.40630578239453, 84.65539666857805)

In [22]:
lr1=Lasso(alpha=4)
lr1.fit(x_train, y_train)
lr1.score(x_train,y_train)*100, lr1.score(x_test,y_test)*100

(23.142572640083557, 18.538409206724815)

In [23]:
lr2=Ridge(alpha=5)
lr2.fit(x_train, y_train)
lr2.score(x_train,y_train)*100, lr2.score(x_test,y_test)*100

(88.37406606333195, 84.42238212828163)

In [24]:
lr3=ElasticNet(alpha=5)
lr3.fit(x_train, y_train)
lr3.score(x_train,y_train)*100, lr3.score(x_test,y_test)*100

(21.03625319335991, 16.833618734802513)

In [25]:
dt=DecisionTreeRegressor(max_depth=13)
dt.fit(x_train, y_train)
dt.score(x_train,y_train)*100, dt.score(x_test,y_test)*100

(99.99987522774822, 95.21555444347754)

In [26]:
mean_squared_error(y_test,dt.predict(x_test)),mean_absolute_error(y_test,dt.predict(x_test))

(np.float64(1.1021250000000002), np.float64(0.66827868852459))

In [27]:
rf=DecisionTreeRegressor()
rf.fit(x_train, y_train)
rf.score(x_train,y_train)*100, rf.score(x_test,y_test)*100

(100.0, 93.08921662977521)

In [28]:
mean_squared_error(y_test,rf.predict(x_test)),mean_absolute_error(y_test,rf.predict(x_test))

(np.float64(1.591939344262295), np.float64(0.7063934426229507))

In [29]:
rf.predict([[-1.275759,0.821718,-0.849623,-0.817924,-0.333500,0.500183,1.356327,-2.554408]])

C:\Users\Akash Kumar\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([0.18])

In [30]:
y_test

177     0.35
289    10.11
228     4.95
198     0.15
60      6.95
       ...
234     5.50
296     9.50
281     2.10
285     7.40
182     0.30
Name: Selling_Price, Length: 61, dtype: float64

In [31]:
x_test

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
177,-1.275759,0.821718,-0.817924,-0.333500,0.500183,1.356327,-2.554408,-0.174501
289,0.251795,0.821718,0.691970,-0.668875,0.500183,-0.737285,0.391480,-0.174501
228,1.230996,-0.563924,0.205282,0.593804,-1.852241,-0.737285,0.391480,-0.174501
198,-2.059120,-0.910335,-0.817924,-0.050157,0.500183,1.356327,0.391480,3.865859
60,0.330131,-0.217514,1.272521,0.078661,0.500183,-0.737285,0.391480,-0.174501
...,...,...,...,...,...,...,...,...
234,0.760979,0.475308,-0.223468,-0.835995,0.500183,-0.737285,0.391480,-0.174501
296,0.251795,0.821718,0.460214,-0.076225,-1.852241,-0.737285,0.391480,-0.174501
281,0.251795,-2.642389,-0.003299,0.347965,0.500183,-0.737285,0.391480,-0.174501
285,0.956819,0.821718,0.100991,-0.563806,0.500183,-0.737285,-2.554408,-0.174501
182,-1.158255,-0.217514,-0.816765,-0.178949,0.500183,1.356327,0.391480,-0.174501

In [40]:
new_data=pd.DataFrame([["ritz",2014,5.59,27000,"Petrol","Dealer","Manual",0]],columns=x_train.columns)

In [41]:
new_data

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0

In [42]:
new_data['Car_Name']=Car_name_le.transform(new_data['Car_Name'])

In [35]:
new_data['Car_Name']=Car_name_le.transform(new_data['Car_Name'])

ValueError: y contains previously unseen labels: 90

In [ ]:
new_data['Fuel_Type']=Fuel_Type_le.transform(new_data["Fuel_Type"])

In [36]:
new_data['Seller_Type']=Seller_Type_le.transform(new_data["Seller_Type"])

In [37]:
new_data['Transmission']=Transmission_le.transform(new_data["Transmission"])

In [43]:
ss.transform();

TypeError: StandardScaler.transform() missing 1 required positional argument: 'X'